form.signup,
form.login {
  margin-top: 50px;
}
#map {
  height: 100%;
}
html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: #299600;
  height: 100%;
  margin: 0;
  padding: 0;
}
.btn {
  margin: 5px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.overlayBody{
  background-color: ghostwhite;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.table{
  background-color: antiquewhite;
  padding: 100%;
}
.form-check-input{
  margin-left: 20px;
}
#footer{
  background-color: #299600;
  color: #6D0096;
  text-align: center;
}
h1{
  text-align: center;
}
#navbar{
  background-color: #299600;
}
#map{
  margin-left: 10px;
  margin-right: 10px;
}
#logo{
  color: #6D0096;
  font-size: xx-large;
  font-weight: bolder;
}
h2{
  text-align: center;
  
}
/* chat */

#room {
  background-color: rgb(63, 64, 68);
  padding: 0;
  margin: 0;
  justify-content: center;
}
#chat-room {
  margin-top: 20%;
  justify-content: center;
  width: 50%;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding-bottom: 30px;
  bottom: 0;
  
}
input{
  width: 100%;
}
#name{
  float: left;
  margin-left: 20px;

}
#text, #local {
  float: none;

  }

#time {
  float: right;
  margin-right: 20px;
}

#send{
    padding: 24px;
    margin-bottom: 0px;
}
#payment{
 float: left; 
}







